.article31 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    
    margin: 20px;
    height: 600px;
    width: 1200px;
  }

  .input-contact {
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: none;
    width: 250px;
    height: 30px;
  }
  
  .input-contact1 {
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);;
    border: none;
    width: 250px;
    height: 100px;
  }

  .btn-contact {
    margin: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: none;
    background-color: #141414;
    color: white;
    cursor: pointer;
    width: 250px;
    height: 30px;
  }