.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: #141414;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 20px; 
    text-align: center;
    
  }
  
  .mentions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .reseaux {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-left: 20px;
  }

  .reseaux:hover {
    transform: scale(1.1);
  }