/* App */

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(16, 15, 15);
}

/*Header */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav li {
  margin-left: 10px;
}

.logo{
  height: 100px;
  width: 100px;
}


/* Page 1 Container 1 */

.article1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wheel {
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn1 {
  height: 20px;
  width: 150px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;

}

.btn2 {
  height: 20px;
  width: 150px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;

}






